.container {
  width: 280px;
}

.title {
  margin-bottom: var(--asteroids-gap);
  font-size: 1.75rem;
  line-height: 2.25rem;
}

@media (min-width: 576px) { /* Landscape phones */
  .container {
    width: auto;
  }
}
