:root {
  --orange-base: #F86600;
  --orange-base-hover: #C25100;
  --orange-smooth: #F8660026;

  --asteroids-gap: 24px;
  --cart-height-mobile: 80px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1rem;
  color: #FFF;

  border: 0;
  outline: none;
}

body {
  background-color: #000;
}

button {
  transition: all 0.15s linear;
}
