.container {
  display: flex;
  align-items: flex-start;
}

.asteroids {
  display: flex;
  flex-direction: column;
  gap: var(--asteroids-gap);

  width: 280px;
  margin-right: 10px;
  margin-bottom: calc(var(--cart-height-mobile) + var(--asteroids-gap));
}

.title {
  margin-bottom: 8px;
  font-size: 1.75rem;
  line-height: 2.25rem;
}

@media (min-width: 576px) { /* Landscape phones */
  .asteroids {
    width: 49vw;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) { /* Tablets */
  .asteroids {
    width: 400px;
    margin-right: 0;
  }
}
